<div class="nav-curtain"></div>
<!-- nav ham -->
<div id="nav-trigger" class="nav-trigger">
    <div class="nav-ham">
        <span class="bar bar-top"></span>
        <span class="bar-vertical"></span>
        <span class="bar bar-mid"></span>
        <span class="bar-vertical-bottom"></span>
        <span class="bar bar-bot"></span>
    </div>
</div>

<nav id="main-navigation" class="main-navigation">
    <div class="container richtext nav-holder">
        <div class="row nav-list-wrap">
            <div class="col-md-3 text-center nav-list-collection">
                {{#link-to "home" class="title-link" }}Home{{/link-to}}
            </div>
            <div class="col-md-3 text-center nav-list-collection">
                {{#link-to "clients" class="title-link" }}Clients{{/link-to}}
            </div>
            <div class="col-md-3 text-center nav-list-collection">
                {{#link-to "portfolio" class="title-link" }}Our work{{/link-to}}
            </div>
            <!-- <div class="col-sm-4 text-center nav-list-collection">
            	{{#link-to "portfolio" class="title-link" }}Portfolio{{/link-to}}
                <ul>
                    <li>{{#link-to "jobs"}}Jobs{{/link-to}}</li>
                    <li><a href="#">Kursprogramm</a></li>
                    <li><a href="#">Kompetenz-Check </a></li>
                </ul>
            </div> -->
            <div class="col-sm-3 text-center nav-list-collection">
            	{{#link-to "jobs" class="title-link" }}Jobs{{/link-to}}
            </div>
        </div>
        <div class="text-right text-left-xs info-menu">
            <p><a href="tel:+441314677787">+44 131 467 7787</a> |
                <span><a href="mailto:hello@weareignite.group">hello@weareignite.group</a></span>
            </p>
        </div>
    </div>

</nav>