<div class="container-fluid">
    <div class="row mx-auto">
        <div class="scribble-footer d-flex flex-column align-items-center justify-content-center">
            <h4 class="text-center">Ready to learn what we can do for you?</h4>
            {{show-chat}}
        </div>
    </div>
</div>
<div class="colour-line"></div>