<button {{action "playVideo"}} class="btn btn-outline-primary" data-toggle="modal" data-target="#show-reel-modal">watch showreel</button>

<div id="show-reel-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <iframe src="https://player.vimeo.com/video/228814108?autoplay=0&loop=0&autopause=1&api=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
