<div class="container-fluid">
    <div class="row">
		<div class="slick-slider col-10 mx-auto mt-10 mt-sm-5 mb-5">
		    {{#each sliderImages as |slide|}}
		    	<img src="{{slide.file.url}}" alt="Slider Image">
		    {{/each}}
		</div>
	</div>
</div>