@import 'bootstrap';

// layout
$transparent-black: rgba($black, .8);

body {
    letter-spacing: 1px;
    background-color: $black;
}


.home {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #27363d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #27363d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.logo {
    width: 200px;
    max-width: 100%;
    transition: opacity 1s;
}

header {
    background-color: $transparent-black;
    z-index: $zindex-fixed;

    .below-the-fold {
        .logo {
            opacity: .4;
        }
    }

    .above-the-fold {
        .logo {
            opacity: 1;
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .logo {
            margin-bottom: $spacer;
        }
    }

    p {
        margin-bottom: 0;
    }
}

a {
    color: $white;

    &:visited,
    &:active,
    &:focus {
        color: $white;
    }

    &:hover {
        color: $white;
        cursor: pointer;
    }
}

footer {
    padding-top: $spacer * 5;
    background-color: $transparent-black;
}

.clickable {

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

strong {
    font-weight: $font-weight-bold;
}

.btn {
    &:hover {
        cursor: pointer;
    }
}

.mt-6 {
    margin-top: $spacer * 5;
}

.mt-10 {
    margin-top: $spacer * 10;
}

$colours: ("green", $green), ("pink", $pink), ("orange", $orange), ("blue", $blue), ("purple", $purple), ("yellow", $yellow);

hr {
    border-top: 3px solid $white;
    width: 30px;
    display: inline-block;

    @each $classname, $colour in $colours {
        &.hr-#{$classname} {
            border-top-color: $colour;
        }
    }

    &.dashed {
        width: 100%;
        border-top: 0;
        background-image: linear-gradient(to right, #000000 44%, #e60d7a 0%);
        background-position: bottom;
        background-size: 23px 3px;
        background-repeat: repeat-x;
        height: 10px;
    }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .text-center-xs {
        text-align: center !important;
    }

    .text-right-xs {
        text-align: right !important;
    }

    .text-left-xs {
        text-align: left !important;
    }
}

.modal {
    &.show {
        display: flex !important;
    }

    .modal-dialog {
        display: flex;
        max-width: 100% !important;
        margin: 8% !important;
        width: 100% !important;

        .modal-content {
            width: 100%;

            button {
                margin-bottom: auto;
                position: absolute;
                top: -15px;
                right: -15px;
                color: $white;
            }

            iframe {
                width: 100%;
                min-height: 80vh;
                height: 100%;
                background: $black;
            }
        }
    }
}

// components

.type-writer {

    .type-area {
        padding-right: $spacer / 4;
        border-right: $spacer / 5 solid $orange;
        animation: blink-caret 1.2s step-end infinite;
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .type-area {
            border-right: 0;
        }
    }

    .sub-type-area {
        min-width: 30px;
        height: 30px;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: $orange; }
}

.scroll-icon {
    display: none;
    opacity: .4;
}

.logo-video {
    width: 2400px;
    height: auto;
    position: absolute;
    bottom: -600px;
    right: -1300px;
    z-index: -1;
}

.show-reel {
    display: none;
}

.flipper-card-wrapper {
	perspective: 1000px;

    .flipper-card {
    	position: relative;
    }

    .flipper-card-front, .flipper-card-back {
        transition: .6s;
    	transform-style: preserve-3d;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .flipper-card-front {
    	z-index: 2;
    	transform: rotateY(0deg);
    }

    .flipper-card-back {
    	transform: rotateY(-180deg);
        background-color: $gray-900;
        position: absolute;
    	top: 0;
    	left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &:hover {

        .flipper-card-front {
        	transform: rotateY(180deg);
        }

        .flipper-card-back {
        	transform: rotateY(0deg);
        }
    }
}

.nudge-up {
    transition: transform 1s ease-in-out;

    &.nudge-up-slow {
        transition-duration: 2s;
    }

    &.nudge-up-fast {
        transition-duration: 1s;
    }
}

.below-the-fold {
    .nudge-up {
        transform: translateY($spacer);
    }
    .nudge-left {
        transform: translateX(0);
    }
    .nudge-right {
        transform: translateX(0);
    }
}

.above-the-fold {
    .nudge-up {
        transform: translateY(0);
    }
    .nudge-left {
        transition: transform 1s ease-in-out;
        transform: translateX(-$spacer);
    }
    .nudge-right {
        transition: transform 1s ease-in-out;
        transform: translateX($spacer);
    }
}

.scribble-footer {
    background: url("/assets/scribble.png") no-repeat;
    background-size: 100% 100%;
    background-color: #202d32;
    height: 501px;
    width: 100%;

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        height: 200px;
    }

    h4 {
        margin-bottom: 2rem;
    }

}
.colour-line {
    background: url("/assets/coloured-line.png");
    background-size: 100% 100%;
    height: 3px;
    width: 100%;
    position: absolute;
}

// pages

.home {
    overflow: hidden;

    .introduction {
        position: relative;
        padding-top: 35%;
        padding-top: 35vh;
        height: 100%;
        height: 100vh;

        h1 {
            margin-bottom: $spacer * 2;

            @media (max-width: #{map-get($grid-breakpoints, sm)}) {
                strong {
                    display: block;
                    height: 61px;
                }
            }
        }

        h2 {
            margin-bottom: $spacer * 3;
        }

        button {
            margin-bottom: 25%;
            margin-bottom: 25vh;
        }

        @media (max-width: #{map-get($grid-breakpoints, sm)}) {
            button {
                margin-bottom: 10vh;
            }
        }

        @media (max-height: 600px) {
            button {
                margin-bottom: 10vh;
            }
        }

        @media (max-height: 500px) {
            button {
                margin-bottom: 2vh;
            }
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {

        .introduction {
            padding-top: 25%;
            padding-top: 25vh;
        }
    }

    .testimonial {

        img {
            max-width: 170px;
        }
    }

    .client-logos {
        display: flex;
        align-items: flex-start;

        img {
            width: 18%;
            height: auto;
            flex-grow: 1;
            margin: 0 3%;
        }
    }

    .case-study {
        border-top-color: transparent;
        border-top-width: 3px;
        border-top-style: solid;
        position: relative;
        .row {
            min-height: 400px;
        }

        .below-the-fold {
            .nudge-left {
                transform: translateX(0);
            }
            .nudge-right {
                transform: translateX(0);
            }
        }

        .above-the-fold {
            .nudge-left {
                transition: transform 1s ease-in-out;
                transform: translateX(-$spacer);
            }
            .nudge-right {
                transition: transform 1s ease-in-out;
                transform: translateX($spacer);
            }
        }

        .featured-image {
            min-height: 400px;
            max-height: 550px;
            height: 60vh;
            background-position: right;
            background-repeat: no-repeat;
            background-size: auto 100%;
            position: relative;
            margin-right: -$spacer;

            @media (max-width: #{map-get($grid-breakpoints, sm)}) {
                background-size: 30%;
                background-position: top right;
            }

            &.left {
                background-position: left;
                margin-left: -$spacer;

                @media (max-width: #{map-get($grid-breakpoints, sm)}) {
                    background-position: top left;
                }
            }

        }

        .skills {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: $font-size-sm;
            padding: $spacer / 3 $spacer;
            text-align: center;
        }

        .result {

            p {
                margin-bottom: $spacer / 4;
            }
        }

        @each $classname, $colour in $colours {
            &.#{$classname} {
                border-top-color: $colour;
                .featured-image {
                }

                .skills {
                    background-color: $colour;
                }

                .callout {
                    color: $colour;
                    font-weight: $font-weight-bold;
                    font-size: $display4-size;
                }

                hr {
                    border-top-color: $colour;
                }
            }
        }

        .case-study-images {
            .case-study-image-wrapper {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        .below-the-fold {
                            .nudge-up {
                                transform: translateY($spacer * ($i * 1.5));
                            }
                        }
                    }
                }
            }
        }
    }

    .team {
        border-top-color: transparent;
        border-top-width: 3px;
        border-top-style: solid;
        @each $classname, $colour in $colours {
            &.#{$classname} {
                border-top-color: $colour;
            }
        }

        .team-image-wrap {
            padding: 0;
        }
        .employee-details {
            padding: $spacer * 1.3;

            p {
                margin-bottom: 0;
            }

            p, hr {
                margin-bottom: 14px;
            }
        }
    }
}

.video-xmas {
    margin-top: 65px;
    width: 100%;
}

.jobs {
    background: url("/assets/header-image-fire.png") no-repeat;
    background-size: 100% auto;
    background-origin: content-box;

    .introduction {
        position: relative;
        padding-top: 55vh;

        @media (max-width: 994px) {
            padding-top: 35vh;
        }

        @media (max-width: 480px) {
            padding-top: 22vh;
            .display-2 {
                font-size: 2.5rem;
            }
        }
    }

    .job-description {
        a {
            text-decoration: none;
			color: $orange;
        }

        p {
            font-weight: 100;
            font-size: 1.5rem;
            line-height: 2rem;



            &.list {
                font-size: 1rem;
            }
        }

        .heading > p {
            font-weight: normal;
        }

        ul {
            list-style: none;

            li {
                font-size: 1rem;
                font-weight: 100;
                line-height: 2rem;


                &:before {
                    content: '-';
                    position: absolute;
                    left: 2.5rem;
                }

                em {
                    color: #bbbaba;
                    margin-top: -.5rem;
                }
            }
        }
    }

}

.portfolio {
}

.project {
    $green: #b8b924;

    .callout {
        color: $yellow;
        font-weight: $font-weight-bold;
        font-size: $display4-size;
    }

    .clear-absolute {
        display: inline-block;
    }

    .section-title {
        color: $yellow;
    }

    p {
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .header-image {
        width: 100%;
        height: 100vh;
        background-size: 100% auto;
        background-position: top;
        background-repeat: no-repeat;
        
        @media (max-width: #{map-get($grid-breakpoints, sm)}) {
            background-size: auto 100vh;
            background-position: center;
        }

        .intro-text {
            padding-top: 50vh;
            width: 255px;
            p {
                font-weight: 300;
            }
        }
    }
    .categories {
        /*position: absolute;
        bottom: 0;
        left: 0;*/
        width: 100%;
        font-size: 0.875rem;
        padding: 0.33333rem 1rem;
        text-align: center;
        background-color: $yellow
    }
    .logo-image-wrapper {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .chalenge {
        img {
            width: 100%;
            height: auto;
        }
    }

    .two-col-images {

        div {
            padding: 0;

            img {
                width: 101%;
                height: auto;
            }
        }
    }

    .solution {
        img {
            width: 90%;
            height: auto;
        }
    }
    .devices {
        img {
            width: 100%;
        }
    }
    .result {
        strong {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}
/* NAVIGATION */
$transition-time : 0.3s;
$grey: #d9d9d9;

.main-navigation{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    
    .nav-holder{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;

        @media (min-width: #{map-get($grid-breakpoints, md)}) {
            display: block;
            padding-top: 180px;
        }

        .nav-list-wrap{
            margin-bottom: 20px;
        }

        .nav-list-collection{
            width: 100%;
            float: none;
            display: block;
            margin-bottom: 20px;
            opacity: 0;
            transform: translateX(70px);
            transition: transform 0.5s, opacity 0.5s;

            @media (min-width: #{map-get($grid-breakpoints, md)}) {
                transform: translateY(-70px);
                margin-bottom: 30px;
                width: 25%;
                float: left;
                margin-bottom: 0;
            }

            ul{
                display: none;

                @media (min-width: #{map-get($grid-breakpoints, md)}) {
                    display: block;
                }
            }
        }
        .nav-list-collection:last-child{
            margin-bottom: 0;
        }
    }
    a{
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        transition: color ease-in-out 0.2s;
        &:hover {
            color: $yellow;
        }
    }
    a.title-link{
        display: inline-block;
        font-size: 32px;
        line-height: 38px;

        @media (min-width: #{map-get($grid-breakpoints, md)}) {
            margin-bottom: 20px; 
        }
    }
}

.nav-curtain{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background: $black;
    transform: translateY(-100%);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

//opned state
.open{
    .main-navigation{
        display: block;
        overflow: hidden;

        .nav-list-collection.show{
            opacity: 1;
            transform: translateY(0);

            @media (min-width: #{map-get($grid-breakpoints, md)}) {
                transform: translateX(0)
            }
        }
        .address-holder.show{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .nav-curtain{
        transform: translateY(0);
        opacity: 1;
    }
}
.nav-trigger{
    position: relative;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 7;
    font-size: 22px;

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
}


.nav-ham{
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    .bar{
        position: absolute;
        width: 30px;
        height: 3px;
        background: $white;
        transition: all $transition-time;
    }
    .bar-top{ top: 0; left:0;}
    .bar-mid{ top: 50%; transform: translateY(-50%); right:0;}
    .bar-bot{ bottom: 0;left:0;}
    .bar-vertical, .bar-vertical-bottom{
        position: absolute;
        left: 0;
        width: 2px;
        height: 0;
        background: $white;
        transition: all $transition-time;
    }
    .bar-vertical{
        top: 1px;
        transform: rotate(-45deg);
        transform-origin: left top;
    }
    .bar-vertical-bottom{
        bottom: 2px;
        transform: rotate(45deg);
        transform-origin: left bottom;
        
    }
}

// Open state
.open {
    .nav-ham{
        &:hover{
            .bar, .bar-vertical, .bar-vertical-bottom{
                background: $white;
            }
        }
        .bar{
            background: $white;
        }
        .bar-top, .bar-bot{width: 0;}
        .bar-mid{ 
            width: 0;
            opacity: 0;
            
        }
        .bar-vertical, .bar-vertical-bottom{
            height: 26px;
            background: $white;
        }
    }
}
