@import 'bootstrap';

// layout
$transparent-black: rgba($black, .8);

body {
    letter-spacing: 1px;
    background-color: $black;
}


.home {
    background: #000000; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #000000, #27363d); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #000000, #27363d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    width: 200px;
    max-width: 200px;
    transition: opacity 1s;
}

header {
    background-color: $transparent-black;
    z-index: $zindex-fixed;

    .below-the-fold {
        .logo {
            opacity: .4;
        }
    }

    .above-the-fold {
        .logo {
            opacity: 1;
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .logo {
            margin-bottom: $spacer;
        }
    }

    p {
        margin-bottom: 0;
    }
}

a {
    color: $white;

    &:visited,
    &:active,
    &:focus {
        color: $white;
    }

    &:hover {
        color: $white;
        cursor: pointer;
    }
}

footer {
    padding-top: $spacer * 5;
    background-color: $transparent-black;
    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .row {
            flex-direction: column-reverse;
            .col {
                flex-basis: auto;
                text-align: center;
                img {
                    max-width: 70%;
                }
            }
        }
    }
}

.clickable {

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

strong {
    font-weight: $font-weight-bold;
}

.btn {
    &:hover {
        cursor: pointer;
    }
}

.mt-6 {
    margin-top: $spacer * 5;
}

.mt-10 {
    margin-top: $spacer * 10;
}

$colours: ("green", $green), ("pink", $pink), ("orange", $orange), ("blue", $blue), ("purple", $purple), ("yellow", $yellow);

hr {
    border-top: 3px solid $white;
    width: 30px;
    display: inline-block;

    @each $classname, $colour in $colours {
        &.hr-#{$classname} {
            border-top-color: $colour;
        }
    }

    &.dashed {
        width: 100%;
        border-top: 0;
        background-image: linear-gradient(to right, #000000 44%, #e60d7a 0%);
        background-position: bottom;
        background-size: 23px 3px;
        background-repeat: repeat-x;
        height: 10px;
    }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .text-center-xs {
        text-align: center !important;
    }

    .text-right-xs {
        text-align: right !important;
    }

    .text-left-xs {
        text-align: left !important;
    }
}

.modal {
    &.show {
        display: flex !important;
    }

    .modal-dialog {
        display: flex;
        max-width: 100% !important;
        margin: 8% !important;
        width: 100% !important;

        .modal-content {
            width: 100%;

            button {
                margin-bottom: auto;
                position: absolute;
                top: -15px;
                right: -15px;
                color: $white;
            }

            iframe {
                width: 100%;
                min-height: 80vh;
                height: 100%;
                background: $black;
            }
        }
    }
}

// components

.type-writer {

    .type-area {
        padding-right: $spacer / 4;
        border-right: $spacer / 5 solid $orange;
        animation: blink-caret 1.2s step-end infinite;
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .type-area {
            border-right: 0;
        }
    }

    .sub-type-area {
        min-width: 30px;
        height: 30px;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: $orange; }
}

.scroll-icon {
    display: none;
    opacity: .4;
}

.logo-video {
    width: 40%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.z-in {
    position: relative;
    z-index: 2;;
}
.show-reel {
    display: block;
}

.flipper-card-wrapper {
	perspective: 1000px;

    .flipper-card {
    	position: relative;
    }

    .flipper-card-front, .flipper-card-back {
        transition: .6s;
    	transform-style: preserve-3d;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .flipper-card-front {
    	z-index: 2;
    	transform: rotateY(0deg);
    }

    .flipper-card-back {
    	transform: rotateY(-180deg);
        background-color: $gray-900;
        position: absolute;
    	top: 0;
    	left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &:hover {

        .flipper-card-front {
        	transform: rotateY(180deg);
        }

        .flipper-card-back {
        	transform: rotateY(0deg);
        }
    }
}

.nudge-up {
    transition: transform 1s ease-in-out;

    &.nudge-up-slow {
        transition-duration: 2s;
    }

    &.nudge-up-fast {
        transition-duration: 1s;
    }
}

.below-the-fold {
    .nudge-up {
        transform: translateY($spacer);
    }
    .nudge-left {
        transform: translateX(0);
    }
    .nudge-right {
        transform: translateX(0);
    }
}

.above-the-fold {
    .nudge-up {
        transform: translateY(0);
    }
    .nudge-left {
        // transition: transform 1s ease-in-out;
        transform: translateX(-$spacer);
    }
    .nudge-right {
        // transition: transform 1s ease-in-out;
        transform: translateX($spacer);
    }
}

.scribble-footer {
    background: url("/assets/scribble.png") no-repeat;
    background-size: 100% 100%;
    background-color: #202d32;
    height: 501px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        height: 200px;
    }

    h4 {
        margin-bottom: 2rem;
    }

}
.colour-line {
    background: url("/assets/coloured-lIne.png");
    background-size: 100% 100%;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* NAVIGATION */
$transition-time : 0.3s;
$grey: #d9d9d9;

.main-navigation{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;

    .nav-holder{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;

        @media (min-width: #{map-get($grid-breakpoints, md)}) {
            display: block;
            // padding-top: 180px;
        }

        .nav-list-wrap{
            margin-bottom: 20px;
        }

        .nav-list-collection{
            width: 100%;
            float: none;
            display: block;
            margin-bottom: 20px;
            opacity: 0;
            transform: translateX(70px);
            transition: transform 0.5s, opacity 0.5s;

            @media (min-width: #{map-get($grid-breakpoints, md)}) {
                transform: translateY(-70px);
                margin-bottom: 30px;
                width: 25%;
                float: left;
                margin-bottom: 0;
            }

            ul{
                display: none;

                @media (min-width: #{map-get($grid-breakpoints, md)}) {
                    display: block;
                }
            }
        }
        .nav-list-collection:last-child{
            margin-bottom: 0;
        }
    }
    a{
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        transition: color ease-in-out 0.2s;
        &:hover {
            color: $yellow;
        }
    }
    a.title-link{
        display: inline-block;
        font-size: 32px;
        line-height: 38px;

        @media (min-width: #{map-get($grid-breakpoints, md)}) {
            margin-bottom: 20px;
        }
    }
}

.nav-curtain{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background: $black;
    transform: translateY(-100%);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

//opned state
.open{
    .main-navigation{
        display: block;
        overflow: hidden;

        .nav-list-collection.show{
            opacity: 1;
            transform: translateY(0);

            @media (min-width: #{map-get($grid-breakpoints, md)}) {
                transform: translateX(0)
            }
        }
        .address-holder.show{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .nav-curtain{
        transform: translateY(0);
        opacity: 1;
    }
}
.nav-trigger{
    position: relative;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 7;
    font-size: 22px;

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        position: absolute;
        top: 41px;
        right: 25px;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
}


.nav-ham{
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    .bar{
        position: absolute;
        width: 30px;
        height: 3px;
        background: $white;
        transition: all $transition-time;
    }
    .bar-top{ top: 0; left:0;}
    .bar-mid{ top: 50%; transform: translateY(-50%); right:0;}
    .bar-bot{ bottom: 0;left:0;}
    .bar-vertical, .bar-vertical-bottom{
        position: absolute;
        left: 0;
        width: 2px;
        height: 0;
        background: $white;
        transition: all $transition-time;
    }
    .bar-vertical{
        top: 1px;
        transform: rotate(-45deg);
        transform-origin: left top;
    }
    .bar-vertical-bottom{
        bottom: 2px;
        transform: rotate(45deg);
        transform-origin: left bottom;

    }
}

// Open state
.open {
    .nav-ham{
        &:hover{
            .bar, .bar-vertical, .bar-vertical-bottom{
                background: $white;
            }
        }
        .bar{
            background: $white;
        }
        .bar-top, .bar-bot{width: 0;}
        .bar-mid{
            width: 0;
            opacity: 0;

        }
        .bar-vertical, .bar-vertical-bottom{
            height: 26px;
            background: $white;
        }
    }
}

/*Slider*/
.slick-slider {
    .slider-image {
        width: 80%;
        margin: 0 auto;
    }
}
.slick-prev,
.slick-next {
    width: 80px;
    height: 17px;
    z-index: 999;
    &:before {
        content: '';
        background-size: 70% 80%;
        width: 80px;
        height: 17px;
        display: block;

        @media (max-width: #{map-get($grid-breakpoints, md)}) {
            background-size: 30% 60% !important;
        }
    }
}
.slick-prev {
    /*left: -95px;*/

    @media (min-width: #{map-get($grid-breakpoints, md)}) {
        left: -60px !important;
    }

    &:before {
        background-image: url(/assets/arrow-left.png);
        background-repeat: no-repeat;
        background-position: left;
    }
}

.slick-next {
    /*right: -95px;*/
    @media (min-width: #{map-get($grid-breakpoints, md)}) {
        right: -60px !important;
    }

    &:before {
        background-image: url(/assets/arrow-right.png);
        background-repeat: no-repeat;
        background-position: right;
  }
}
.slick-dots {
    bottom: -80px;

    li {
        top: 0;
        width: 80px;
        height: 40px;
        border-bottom: 3px solid $white;
        transition: all ease-in-out 0.3s;

        .dot-index {
            position: absolute;
            bottom: 10px;
            left: 41%;
            display: none;
        }

        &.slick-active {
            top: -10px;

            .dot-index {
                display: inline-block;
            }
        }

    }
}

// pages

.home {
    overflow: hidden;

    .introduction {
        position: relative;
        padding-top: 35%;
        padding-top: 35vh;
        height: 100%;
        height: 100vh;

        h1 {
            margin-bottom: $spacer * 2;

            @media (max-width: #{map-get($grid-breakpoints, sm)}) {
                strong {
                    display: block;
                    height: 61px;
                }
            }
        }

        h2 {
            margin-bottom: $spacer * 3;
        }

        button {
            margin-bottom: 25%;
            margin-bottom: 25vh;
        }

        @media (max-width: #{map-get($grid-breakpoints, sm)}) {
            button {
                margin-bottom: 10vh;
            }
        }

        @media (max-height: 600px) {
            button {
                margin-bottom: 10vh;
            }
        }

        @media (max-height: 500px) {
            button {
                margin-bottom: 2vh;
            }
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {

        .introduction {
            padding-top: 25%;
            padding-top: 25vh;
        }
    }

    .testimonial {

        img {
            max-width: 170px;
        }
    }

    .client-logos {
        display: flex;
        align-items: flex-start;

        img {
            width: 18%;
            height: auto;
            flex-grow: 1;
            margin: 0 3%;
        }
    }

    .case-study {
        border-top-color: transparent;
        border-top-width: 3px;
        border-top-style: solid;
        position: relative;
        padding: 5rem 0 !important;
        .row {
            @media (max-width: #{map-get($grid-breakpoints, md)}) {
                min-height: auto;
                max-height: auto;
                height: auto;
                // max-width: 50%;
             }
            min-height: 400px;
        }

        .below-the-fold {
            .nudge-left {
                transform: translateX(0);
            }
            .nudge-right {
                transform: translateX(0);
            }
        }

        .above-the-fold {
            .nudge-left {
                // transition: transform 1s ease-in-out;
                // transform: translateX(-$spacer);
            }
            .nudge-right {
                // transition: transform 1s ease-in-out;
                transform: translateX($spacer);
                .row {
                    @media (max-width: #{map-get($grid-breakpoints, md)}) {
                        float: right;
                        overflow: auto;
                     }
                }

            }
        }

        .featured-image {
            // min-height: 400px;
            // max-height: 500px;


            @media (max-width: #{map-get($grid-breakpoints, md)}) {

            }


            // &.left {
            //     background-position: left;
            //     margin-left: -$spacer;

            //     @media (max-width: #{map-get($grid-breakpoints, sm)}) {
            //         background-position: center left;
            //     }
            //     @media (max-width: #{map-get($grid-breakpoints, md)}) {
            //         overflow: auto;
            //     }
            // }

        }

        .skills {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: $font-size-sm;
            padding: $spacer / 3 $spacer;
            text-align: center;
        }

        .result {
            margin-left: 2rem;
            p {
                margin-bottom: $spacer / 4;
            }
        }

        @each $classname, $colour in $colours {
            &.#{$classname} {
                border-top-color: $colour;
                .featured-image {
                }

                .skills {
                    background-color: $colour;
                }

                .callout {
                    color: $colour;
                    font-weight: $font-weight-bold;
                    font-size: $display4-size;
                }

                hr {
                    border-top-color: $colour;
                }
            }
        }

        .case-study-images {
            .case-study-image-wrapper {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        .below-the-fold {
                            .nudge-up {
                                transform: translateY($spacer * ($i * 1.5));
                            }
                        }
                    }
                }
            }
        }
    }

    .team {
        border-top-color: transparent;
        border-top-width: 3px;
        border-top-style: solid;
        @each $classname, $colour in $colours {
            &.#{$classname} {
                border-top-color: $colour;
                margin-top: 0 !important;
            }
        }

        .team-image-wrap {
            padding: 0;
        }
        .employee-details {
            padding: $spacer * 1.3;

            p {
                margin-bottom: 0;
            }

            p, hr {
                margin-bottom: 14px;
            }
        }
    }
}

.video-xmas {
    margin-top: 65px;
    width: 100%;
}

.jobs {
    background: url("/assets/header-image-fire.png") no-repeat;
    background-size: 100% auto;
    background-origin: content-box;

    .introduction {
        position: relative;
        padding-top: 55vh;

        @media (max-width: 994px) {
            padding-top: 35vh;
        }

        @media (max-width: 480px) {
            padding-top: 22vh;
            .display-2 {
                font-size: 2.5rem;
            }
        }
    }

    .job-description {
        a {
            text-decoration: none;
			color: $orange;
        }

        p {
            font-weight: 100;
            font-size: 1.5rem;
            line-height: 2rem;



            &.list {
                font-size: 1rem;
            }
        }

        .heading > p {
            font-weight: normal;
        }

        ul {
            list-style: none;

            li {
                font-size: 1rem;
                font-weight: 100;
                line-height: 2rem;


                &:before {
                    content: '-';
                    position: absolute;
                    left: 2.5rem;
                }

                em {
                    color: #bbbaba;
                    margin-top: -.5rem;
                }
            }
        }
    }

}

.portfolio {
}

.project {
    $green: #b8b924;

    .callout {
        font-weight: $font-weight-bold;
        font-size: $display4-size;

        @each $classname, $colour in $colours {
            &.#{$classname} {
                color: $colour;
            }
        }
    }

    .clear-absolute {
        display: inline-block;
    }

    .section-title {
        @each $classname, $colour in $colours {
            &.#{$classname} {
                color: $colour;
            }
        }
    }

    p {
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .header-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 1400px ) {
            background-size: cover;
            background-position: center;
        }

        .intro-text {
            // padding-top: 50vh;
            width: 255px;
            p {
                font-weight: 300;
            }
            .col-12 {
                margin-left: -1rem;
            }
            @media (max-width: 1350px ) {
                // padding-top: 20vh;
            }
        }
    }
    .categories {
        /*position: absolute;
        bottom: 0;
        left: 0;*/
        width: 100%;
        font-size: 0.875rem;
        padding: 0.33333rem 1rem;
        text-align: center;
        @each $classname, $colour in $colours {
            &.#{$classname} {
                background-color: $colour;
            }
        }
    }
    .logo-image-wrapper {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .chalenge {
        img {
            width: 100%;
            height: auto;
        }
    }

    .two-col-images {

        div {
            padding: 0;

            img {
                width: 101%;
                height: auto;
            }
        }
    }

    .solution {
        img {
            width: 90%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        @media  (min-width: #{map-get($grid-breakpoints, md)}) {
            display: flex;
            align-items: center;
         }

    }
    .devices {
        img {
            width: 100%;
        }
    }
    .result {
        strong {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}


.square {
    position: relative;
    width: 100%;
    .image {
        position: absolute;
        left: 0;
        top: 0;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.project-image {
    &:hover {
        cursor: pointer;
        .cover {
            opacity: 1;
            transition:opacity 0.15s linear;
        }
    }
    .cover {
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 1;
        background: rgba(0,0,0,0.5);
        width: 100%;
        padding: 1rem;
        height: auto;
        text-align: left;
        .title {
            text-align: left;
            margin-bottom: 0;
            color: #FFF;
            font-size: 1.3rem;
        }
        .description {
            margin-bottom: 0;
            font-size: .9rem;
            max-width: 100%;
        }
        hr {
            margin-top: 0;
            margin-bottom: 0.2rem;
        }
    }
}
.dropdown {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    span {
        font-size: .9rem;
        padding: 0.5rem;
    }
    &:hover {
        .share {
            opacity: 1;
        }
    }
    .share {
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        position: absolute;
        bottom: 1.5rem;
        right: 0rem;
        opacity: 0;
        transition:opacity 0.15s linear;
        li {
            display: block;
            text-align: center;
            padding-right: 0.5rem;
            a {
                padding: 0.5rem;
                font-size: .9rem;
            }
            &:first-child {
                a {
                    // padding-left: 0;
                }
            }
        }
    }
}
.share {

}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
    .client-logos {
        align-items: center;
        max-width: 100%;
        text-align: center;
        flex: 0 0 100%;
    }
    .client-introduction {
        text-align: center;
        margin-top: 2rem;
    }

    .clients {
        flex-direction: column;
        margin-top: 0 !important;
    }
    .home .case-study .result p {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }
    .home .introduction {
        padding-bottom: 6.5rem;
        height: auto;
    }
}
.testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        margin-top: 1rem;
    }
    .author {
        margin-top: 0;
    }
}
.testimonial-slider {
    .slick-dots {
        bottom: -40px !important;
        li {
            width: 10px;
            height: 10px;
            background: transparent;
            border-radius: 50%;
            border: 1px solid #FFF;
            margin-right: 0.5rem;
            &:last-child {
                margin-right: 0;
            }
            &.slick-active {
                top: 0;
                background: #FFF;
            }
            button {
                &:before {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
    .logo-anim {
        display: none;
    }
    .home .case-study.orange .callout {
        line-height: 1;
    }
}
@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .slick-prev, .slick-next {
        display: none !important;
    }
    .scribble-footer {
        position: relative;
        background: url("/assets/rsz_scribble.png") no-repeat #202d32;
        background-size: auto 100%;
        height: auto;
        padding: 1.5rem 0;
        .colour-line {
            bottom: 0;
        }
    }
    .slick-dots li  {
        width: 15px;
        span {
            left: 0 !important;
            bottom: 0 !important;
        }
        button {
        }
    }
}



@media  (min-width: #{map-get($grid-breakpoints, md)}) {
    .home .case-study .featured-image{
        height: 50%;
    }
}

@media  (min-width: #{map-get($grid-breakpoints, lg)}) {
    .home .case-study .featured-image{
        height: 80%;
    }
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
    .home .case-study .featured-image{
        height: 45%;
        width: 100%;
        transform: translateX(0);
    }
    .photo {
        display: flex !important;
        height: 100% !important;
        position: relative !important;
        right: 0 !important;
    }
    .above-the-fold {
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .above-the-fold .photo {
        transform: translateX(0) !important;
        margin-bottom: 2rem !important;
    }

}

.photo {
    display: flex;
    right: -6rem;
    top: 0;
    height: 100%;
    position: absolute;
    align-items: center;
    transition: transform 1s ease-in-out;
}
.nudge-right {
    .photo {
        left: initial;
        right: -6rem;

    }
}

.nudge-right {
    .photo {
        left: -6rem;
        right: initial;
    }
    .above-the-fold {
        .photo {
            transform: translateX(1rem);
        }
    }
}

.nudge-left {
    .photo {
        right: -6rem;
        left: initial;
    }
    .above-the-fold {
        .photo {
            transform: translateX(-1rem);
        }
    }
}

@media  (max-width: #{map-get($grid-breakpoints, sm)}) {
    .home .case-study .result {
        margin-left: -1rem;
        margin-top: 1rem;
    }
    .home .case-study .project-info {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}
.modal-backdrop{
    z-index: 1;
}
.header-image {
    position: relative;
    padding: 0;
    .container {
        padding: 0;
        padding-left: 1rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    .absolute-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        @media  (max-width: #{map-get($grid-breakpoints, md)}) {
            height: 80vh;
            object-fit: cover;
        }
    }
    .intro-text {
        max-width: 255px;
        margin-bottom: 1.5rem;
    }
}
.categories-holder {
    text-align: center;
    margin: 2rem auto;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.fadeIn {
    animation: fadeIn 1s ease-in both;

}
  .category-button {
      &:focus {
          box-shadow: none;
      }
  }
.clients-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem 0;
    padding-top: 0;
    .single-client {
        position: relative;
        width: 20%;
        @media (max-width: 1024px) {
            width: 25%;
        }
        @media (max-width: 768px) {
            width: 33%;
        }
        @media (max-width: 460px) {
            width: 50%;
        }
        img {
            width: 80%;
            margin: 0 auto;
            display: block;
        }
        &:after {
            content: '';
            display: block;
            padding-bottom: 70%;
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.info {

        @media  (max-width: #{map-get($grid-breakpoints, sm)}) {
            display: none;
        }


}
.info-menu {
    display: none;
    @media  (max-width: #{map-get($grid-breakpoints, sm)}) {
        display: block;
        bottom: 4rem;
        position: absolute;
    }

}
.related-title {
    width: 100%;
    text-align: center;
}
header .below-the-fold .logo {
    margin-top: 1.25rem;
}
.project {
    // overflow-y: overlay;
}