@import 'bootstrap';

// layout

header {
    background-color: rgba($gray-dark, .8);
}

b, strong {
    font-weight: $font-weight-bold;
}

.no-wrap {
    white-space: nowrap;
}

.clickable {

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.text-lg {
    font-size: $font-size-lg;
}

.text-white {

    & > .clickable,
    & > a {
        color: $white;

        &:visited,
        &:active,
        &:focus {
            color: $white;
        }

        &:hover {
            color: $white;
            opacity: .8;
        }
    }
}

.blockquote {
    border-width: 0;

    .blockquote-footer {
        color: inherit;

        &::before {
            content: none;
        }
    }

    .profile-img {
        width: 100px;
        height: 100px;
        float: left;
        border-radius: 50%;
        margin-right: $spacer;
    }
}


button {
    cursor: pointer;
}

hr {
    display: inline-block;
    border-top: 3px solid $orange;
    width: 40px;
}

.btn-outline-secondary {

    &:hover {
        color: $gray-dark;
    }
}

.img-fluid {
    min-width: 100%;
}

.background-transparent {
    background-color: rgba($black,.8);
    color: $white;
    display: inline-block;
    padding: $spacer*2 $spacer*4;
}

.mt-20 {
    margin-top: 20%;
    margin-top: 20vh;
}

// components

// pages

.home {

    .full-height {
        height: 600px;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .introduction {
        background-color: $gray-dark;
        background-image: url("../assets/IYB-logo.png");
        background-repeat: no-repeat;
        background-position: right -350px top 250px;

        .blockquote {
            margin-top: 20%;
            margin-top: 20vh;
        }
    }

    .iyb-logo {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .background-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .tourism {
        background-image: url("../assets/home-0001.jpg");
        @extend .background-image;
    }

    .property {
        background-image: url("../assets/home-0002.jpg");
        @extend .background-image;
    }

    .startup {
        background-image: url("../assets/home-0003.jpg");
        @extend .background-image;
    }
}

.work {

    .container {
        margin-top: 100px;
    }

    .col {
        background-color: $blue;

        &:nth-child(odd) {
            background-color: $pink;
        }

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    .case-study {
        width: 100%;
        height: 300px;
    }
}
