<header class="fixed-top">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-12 col-sm-4">
            {{#slide-in-wrapper}}
                {{#link-to 'home'}}<img src="/assets/iyb-logo-trans-white-basic.svg" alt="Ignite Your Brand" class="logo">{{/link-to}}
            {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-7 pr-5 text-right text-left-xs">
                <p><a href="tel:+441314677787">+44 131 467 7787</a> |
                    <span><a href="mailto:hello@weareignite.group">hello@weareignite.group</a></span>
                </p>
            </div>
            {{ nav-trigger }}
        </div>
    </div>
</header>
<main class="{{routing.currentRouteName}}">
    {{outlet}}
</main>
<footer>
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col col-sm-4 hidden-xs-down">
                <img class="img-fluid" src="/assets/iyb-logo-trans-white.svg" alt="Ignite Your Brand">
            </div>
            <div class="col col-sm-7">
                <div class="row">
                    <div class="col">
                        <h4>studio</h4>
                        <p>44 Constitution Street<br>
                            Edinburgh<br>
                            EH6 6RS<br>
                            Scotland
                        </p>
                        <p><small><a target="_blank" href="https://www.google.co.uk/maps/dir//Ignite+Your+Brand,+44+Constitution+St,+Edinburgh+EH6+6RS/@55.9748077,-3.167592,19z/">get directions</a></small></p>
                    </div>
                    <div class="col">
                        <h4>contact</h4>
                        <p><a href="tel:+441314677787">+44 131 467 7787</a><br>
                            <a href="mailto:hello@weareignite.group">hello@weareignite.group</a>
                        </p>
                        <p><small>{{#link-to "creative-commons"}}showreel credits{{/link-to}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
