<header class="fixed-top">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-12 col-sm-4">
            {{#slide-in-wrapper}}
                <img src="/assets/iyb-logo-trans-white-basic.svg" alt="Ignite Your Brand" class="logo">
            {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-8 text-right text-left-xs">
                <p>+44 131 467 7787 |
                    <span class="hidden-md-down"><a href="mailto:hello@igniteyourbrand.co.uk">hello@igniteyourbrand.co.uk</a> |</span>
                    <span class="hidden-sm-down hidden-lg-up"><a href="mailto:hello@igniteyourbrand.co.uk">email</a> |</span>
                    <a href="#">live chat</a>
                </p>
            </div>
        </div>
    </div>
</header>
<main class="{{routing.currentRouteName}}">
    {{outlet}}
</main>
<footer>
    <div class="container">
        <div class="row mb-5">
            <div class="col col-sm-3 hidden-xs-down">
                <img class="img-fluid" src="/assets/iyb-logo-trans-white.svg" alt="Ignite Your Brand">
            </div>
            <div class="col col-sm-7 offset-sm-2">
                <div class="row">
                    <div class="col">
                        <h4>studio</h4>
                        <p>44 Constitution Street<br>
                            Edinburgh<br>
                            EH6 6RS<br>
                            Scotland
                        </p>
                    </div>
                    <div class="col">
                        <h4>contact</h4>
                        <p>+44 131 467 7787<br>
                            <a href="mailto:hello@igniteyourbrand.co.uk">hello@igniteyourbrand.co.uk</a><br>
                            <a href="https://www.livechatinc.com/?partner=lc_8819936&amp;utm_source=chat_button">live chat</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
