<header class="fixed-top">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <p class="text-right text-xs-center text-white mb-0">+44 131 467 7787 |
                    <span class="hidden-xs-down"><a href="mailto:hello@igniteyourbrand.co.uk">hello@igniteyourbrand.co.uk</a> |</span>
                    <span data-id="1123239adf" class="livechat_button"><a href="https://www.livechatinc.com/?partner=lc_8819936&amp;utm_source=chat_button">live chat</a></span></p>
            </div>
        </div>
    </div>
</header>
<main class="{{routing.currentRouteName}}">
    {{outlet}}
</main>
<footer class="text-white">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-sm-5 mb-3 text-xs-center">
                <h6>Office</h6>
                <p>44 Constitution Street<br>
                    Edinburgh<br>
                    EH6 6RS<br>
                    Scotland</p>
            </div>
            <div class="col-12 col-sm-7 mb-3 text-xs-center">
                <h6>Contact</h6>
                <p>+44 (0)131 467 7787<br>
                    <a class="clickable" href="mailto:hello@igniteyourbrand.co.uk">hello@igniteyourbrand.co.uk</a></p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col text-xs-center">
                <p><small>&copy; Ignite Your Brand {{moment-format (now) 'YYYY'}}</small></p>
            </div>
        </div>
    </div>
</footer>
