<div class="container">
    <div class="row">
        <div class="col col-lg-8 mt-5 pt-5">
            <h1 class="mt-5 mb-4">Creative Commons</h1>
            <p>We love to collaborate with our creative peers. In our showreel we used some amazing work from these lovely people...</p>
            <p class="text-uppercase mt-5"><strong>Video</strong></p>
            <p>French Polynesia by Matt Devir: <a class="text-info" href="https://vimeo.com/mattdevir" target="_blank">https://vimeo.com/mattdevir</a></p>
            <p>Live Halo 4 by Jay Carpio: <a class="text-info" href="http://mazwai.com/#/grid/videos/202" target="_blank">http://mazwai.com/#/grid/videos/202</a></p>
            <p>Salt Fresh and Field by: <a class="text-info" href="http://www.saltfreshfield.com/" target="_blank">http://www.saltfreshfield.com/</a></p>
            <p>dinosawr_rob: <a class="text-info" href="https://www.videvo.net/profile/dinosawr_rob/" target="_blank">https://www.videvo.net/profile/dinosawr_rob/</a></p>
            <p>Slowmow Big Sur by Tim Williams: <a class="text-info" href="https://vimeo.com/timw" target="_blank">https://vimeo.com/timw</a></p>
            <p>Dizi Films Set 2014: <a class="text-info" href="http://dizifilms.ca/" target="_blank">http://dizifilms.ca/</a></p>
            <p class="text-uppercase mt-5"><strong>Music</strong></p>
            <p>Deltason (feat. Konuvvi) - Night Terrors Remix: <a class="text-info" href="https://soundcloud.com/deltason" target="_blank">https://soundcloud.com/deltason</a></p>
        </div>
    </div>
</div>
