<div class="introduction">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col col-sm-10 full-height">
                <h1 class="logo display-3 mt-20"><strong>ignite</strong> <span class="no-wrap">your brand</span></h1>
                <h2 class="my-5">we inspire and grow ambitious brands</h2>
                <button {{action 'triggerShowReel'}} class="btn btn-secondary">watch show reel</button>
                <div class="d-flex justify-content-end">
                    <blockquote class="blockquote col-6">
                        <img src="/assets/matt.jpg" class="profile-img">
                        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer mb-3">Matt Davies, Agency Core</footer>
                        <button class="btn btn-sm btn-outline-secondary">read the story</button>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-sm-10 full-height">
                <h3 class="display-4 mt-20">Our Method</h3>
                <hr class="orange">
                <p class="text-lg">A simple, codified process for understanding where you are<br>
                    and helping you get where you want to be</p>
            </div>
        </div>
    </div>
</div>
<div class="tourism full-height">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="background-transparent mt-20">
                    <h4 class="display-4">Grant Property</h4>
                    <hr class="orange">
                    <p class="text-lg">Using a unique branding process to creating a comprehensive<br>
                        new brand identity for one of Edinburgh’s leading letting agents</p>
                    <button class="btn btn-outline-secondary">read the story</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="property full-height">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <div class="background-transparent mt-20 text-right">
                    <h3 class="display-4">Landbase</h3>
                    <hr class="orange">
                    <p class="text-lg">Thorough brand strategy and creative work to create a unique position<br>
                        for prestigious shopping centres within China's major cities</p>
                    <button class="btn btn-outline-secondary">read the story</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="startup full-height">
    <div class="container">
        <div class="row">
            <div class="background-transparent mt-20">
                <h3 class="display-4">EXO Travel</h3>
                <hr class="orange">
                <p class="text-lg">Building a brand to better reflect core values and<br>
                    help a pioneering company grow rapidly in a competitive marketplace</p>
                <button class="btn btn-outline-secondary">read the story</button>
            </div>
        </div>
    </div>
</div>
<img src="/assets/home-0004.jpg" class="img-fluid">
