<div class="introduction">
    <div class="container text-white">
        <div class="row">
            <div class="col full-height text-xs-center p-relative">
                <h1 class="logo display-1 mt-20"><strong>ignite</strong> <span class="no-wrap">your brand</span><sup>&reg;</sup></h1>
                <h2 class="my-5">we inspire and grow ambitious brands</h2>
                <button {{action 'triggerShowReel'}} class="btn btn-outline-secondary mb-3 fade-in-1">get a feel for our work</button>
                <button {{action 'triggerContactForm'}} class="btn btn-secondary mb-3 fade-in-2">speak to a human</button>
                <blockquote class="blockquote col-9 col-sm-8 col-md-7 col-lg-6 col-xl-5 hidden-xs-down">
                    <img src="/assets/doug.jpg" class="profile-img">
                    <p class="mb-1">I set out to raise £60,000 and with Ignite Your Brand's help I raised £165,000</p>
                    <footer class="blockquote-footer mb-3">Douglas Stewart, Hebridean Food Company</footer>
                    <button class="btn btn-sm btn-outline-secondary fade-in-3">read the story</button>
                </blockquote>
                <video class="iyb-logo-video hidden-xs-down" autoplay>
                    <source src="/assets/IYB-logo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col full-height">
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-12">
                        <h3 class="display-2 mt-15">scientific, story telling</h3>
                        <hr>
                        <p>Primarily working with the tourism, leisure and hospitality industry we use
                            quick and succicnt strategy programmes to deeply understand your brand.
                            We then tailor communications to your customers and create campaigns that grow your business.</p>
                    </div>
                </div>
                {{#slide-in-wrapper}}
                <div class="row justify-content-center mt-15">
                    <div class="col-10 col-sm-6 col-lg-3 mb-5 method-1">
                        <h3><span class="text-blue">1.</span> Understand</h3>
                        <hr class="blue">
                        <p class="method-description text-muted">branding &amp; analysis</p>
                        <p class="method-description">Discover your point of difference</p>
                    </div>
                    <div class="col-10 col-sm-6 col-lg-3 mb-5 method-2">
                        <h3><span class="text-pink">2.</span> Build</h3>
                        <hr class="pink">
                        <p class="method-description text-muted">design &amp; development</p>
                        <p class="method-description">Build tools to communicate with your customers</p>
                    </div>
                    <div class="col-10 col-sm-6 col-lg-3 mb-5 method-3">
                        <h3><span class="text-yellow">3.</span> Strategise</h3>
                        <hr class="yellow">
                        <p class="method-description text-muted">strategy &amp; planning</p>
                        <p class="method-description">Create an actionable, measureable growth plan</p>
                    </div>
                    <div class="col-10 col-sm-6 col-lg-3 mb-5 method-4">
                        <h3><span class="text-orange">4.</span> Measure</h3>
                        <hr class="orange">
                        <p class="method-description text-muted">advertising &amp; marketing</p>
                        <p class="method-description">Put your plan into action and get results</p>
                    </div>
                </div>
                {{/slide-in-wrapper}}
            </div>
        </div>
    </div>
</div>
{{#slide-in-wrapper}}
<div class="bg-black full-height hidden-xs-down">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 full-height d-flex align-items-center">
                <div class="exo-travel">
                    <img class="img-full-height exo-travel-image" src="/assets/exo-travel-mask.png">
                </div>
            </div>
            <div class="col-12 col-sm-5 text-white d-flex align-items-center">
                <div>
                    <h4 class="display-4">EXO Travel</h4>
                    <hr>
                    <p>Building a brand to better reflect core values and
                        help a pioneering company grow rapidly in a competitive marketplace</p>
                    <button class="btn btn-outline-secondary">read the story</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/slide-in-wrapper}}
{{#slide-in-wrapper}}
<div class="bg-black full-height hidden-xs-down">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-5 text-white d-flex align-items-center">
                <div>
                    <h4 class="display-4">Landbase</h4>
                    <hr>
                    <p>Thorough brand strategy and creative work to create a unique position
                        for prestigious shopping centres within China's major cities</p>
                    <button class="btn btn-outline-secondary">read the story</button>
                </div>
            </div>
            <div class="col-12 col-sm-7 full-height d-flex align-items-center">
                <img class="img-fluid landbase-logo" src="/assets/landbase.jpg">
            </div>
        </div>
    </div>
</div>
{{/slide-in-wrapper}}
{{#slide-in-wrapper}}
<div class="bg-black full-height hidden-xs-down">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 full-height d-flex align-items-center">
                <div class="grant-property">
                    <img class="grant-property-image" src="/assets/grant-property-mask.png">
                </div>
            </div>
            <div class="col-12 col-sm-5 text-white d-flex align-items-center">
                <div>
                    <h4 class="display-4">Grant Property</h4>
                    <hr>
                    <p>Using a unique branding process to creating a comprehensive
                        new brand identity for one of Edinburgh’s leading letting agents</p>
                    <button class="btn btn-outline-secondary">read the story</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/slide-in-wrapper}}
<div class="bg-black container hidden-sm-up">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-secondary">see examples of our work</button>
        </div>
    </div>
</div>
<div class="bg-black full-height text-white">
    <div class="container">
        <div class="row">
            <div class="col-10 col-sm-12">
                <h3 class="display-2 mt-15">the people that make us</h3>
                <hr>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>George McRae</strong></p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>Bob Still</strong></p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>Matt Davies</strong></p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>Nik Grabacic</strong></p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>Colin Gilchrist</strong></p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>Jodie Baynes</strong></p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/profile-placeholder.jpg" class="img-profile rounded-circle mb-3">
                <p><strong>Frank Shields</strong></p>
            </div>
        </div>
    </div>
</div>
