<div class="introduction text-white full-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-10">
                <h1 class="logo display-3"><strong>ignite</strong> <span class="no-wrap">your brand</span></h1>
                <h2 class="my-5">we inspire and grow ambitious brands</h2>
                {{#link-to 'work' class="btn btn-secondary"}}see our work{{/link-to}}
                <button {{action 'triggerShowReel'}} class="btn btn-outline-secondary">watch show reel</button>
                <div class="d-flex justify-content-end">
                    <blockquote class="blockquote col-6">
                        <img src="/assets/matt.jpg" class="profile-img">
                        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer mb-3">Matt Davies, Agency Core</footer>
                        <button class="btn btn-sm btn-secondary">read the story</button>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container full-height">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            <h3 class="display-4">Our Method</h3>
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
<div class="tourism text-white full-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-10">
                <h3 class="display-4">Tourism Client</h3>
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-secondary">read the story</button>
            </div>
        </div>
    </div>
</div>
<div class="property text-white full-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-10 text-right">
                <h3 class="display-4">Property Client</h3>
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-secondary">read the story</button>
            </div>
        </div>
    </div>
</div>
<div class="startup text-white full-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-10">
                <h3 class="display-4">Startup Client</h3>
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-secondary">read the story</button>
            </div>
        </div>
    </div>
</div>
<img src="/assets/home-0003.jpg" class="img-fluid">
